/* 秒杀部分 */
header .logo>a {
    display: block;
    height: 32px;
    border-left: 1px solid #c82613;
    margin-left: 14px;
    margin-top: 15px;
    line-height: 32px;
    text-indent: 14px;
}

header .header_productlist_nav {
    position: absolute;
    left: 0;
    top: 120px;
}
.header_productlist_nav ul li {
    float: left;
    margin: 0 28px;
    font-size: 16px;
    font-weight: 600;
    /* color: #000; */
}
.header_productlist_nav li a {
    color: #000;
}

header .header_nav {
    left: 390px;
}


/* 商品列表 */
.product_list {
    margin-top: 25px;
}

.product_list ul li {
    float: left;
    width: 288px;
    /* border: 1px solid red; */
    margin-right: 13px;
    margin-bottom: 13px;
}
.product_list ul li:nth-child(4n) {
    margin-right: 0;
}

.product_list ul li:hover {
    /* border:  1px solid red; */
    /* 外轮廓线不会改变元素的大小，而且不占位置 */
    outline: 1px solid red;
}
.product_list li .product_info {
    padding: 0 12px;
    margin-bottom: 14px;
}
.product_list li .product_info>a {
    display: block;
    line-height: 20px;
    font-size: 14px;
}
.product_list li .product_info .price {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}
.product_list li .product_info .price strong {
    font-size: 22px;
}
.product_info .price .new_price {
    color: #e60012;
    margin-right: 8px;
}
.product_info .price del {
    color: #a4a4a4;
}

.product_info .buy_state .state {
    display: inline-block;
    width: 130px;
    height: 10px;
    border: 1px solid #e12228;
    margin: 0 8px;
    border-radius: 5px;
    vertical-align: middle;
}
.buy_state .state .stating {
    width: 87%;
    height: 100%;
    background: #ed282e;
}

.product_list li button {
    width: 100%;
    height: 50px;
    background: #b1191a;
    color: #fff;
    font-size: 20px;
}